<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div id="app">
        <label for="">Text Color: </label><input type="text" v-model="textColor" />
        <input type="color" v-model="textColor" /> <br />
        <label for="">Background Color: </label><input type="text" v-model="bgColor" />
        <input type="color" v-model="bgColor" />



        <div class="card" :style="{backgroundColor: bgColor, color: textColor}">
          <p>Card</p>
        </div>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>

</body>
</html>